body {
    font-size: .875rem;
    overflow: hidden;
}

.menu-bar {
    color: rgb(252, 255, 239);
    background-color: rgb(200, 0, 0);
    height:1.8rem;
    overflow: hidden;
}
.menu-bar .brand {
    font-size: 1rem;
    font-weight: bold;
}
.menu-bar .brand a, .menu-bar .brand a:link, .menu-bar .brand a:visited
, .menu-bar .brand a:hover, .menu-bar .brand a:active{
    color: rgb(252, 255, 239);
    text-decoration: none;
}
.menu-bar .btn {
    background-color: rgb(200, 0, 0);
    color: rgb(252, 255, 239);
    border-radius: 0;
    font-size: .875rem;
    padding-top: 1px;
    height:100%; /*prevents a visual disconnection between the menu-item and the menu-body if sizes are wrong */
    border:2px solid rgb(200, 0, 0); /*prevents reflow when adding a border */
}
.menu-bar .active {
    background-color: rgb(41, 46, 50);
    border-bottom:2px solid rgb(41, 46, 50);
    color: rgb(252, 255, 239);
}
.menu-items a:hover {
    border-top:2px solid white;
    /*border-left:2px solid white;*/
    /*border-right:2px solid white;*/
}
.menu-bar .toggleMenuSymbol {
    display: none;
}
.menu-bar .active .toggleMenuSymbol {
    display: inline-block;
    opacity: 0.0;
    transition: opacity 0.2s;
    /*font-size: 0.92rem;*/
}
.menu-bar .active:hover .toggleMenuSymbol {
    opacity: 1;
}




/*
 * Sidebar
 */

.sidepanel {
    /*background-color: rgb(247, 247, 247);*/
    /*background-color: rgb(252, 255, 239);*/
    background-color: white;
    z-index: 1; /* Behind the menu */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-size: 0.7rem;
    width: 270px;
    position: absolute;
    left: 0;
    /*height: calc(100vh - 48px);*/
    height: calc(100vh - 112px);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    box-shadow: 0 4px 10px rgb(100, 100, 100);
    transition: width 0.5s, height 0.3s ease-in-out;;
    /*transition: */
}
.sidepanel td, .sidepanel th {
    padding: 8px 5px;
}
.sidepanel .propertyValue, .sidepanel .propertyName {
    color: rgb(41, 46, 50);
    border-bottom-color: rgb(200, 0, 0);
}
.sidepanel input, .sidepanel textarea {
    font-size: 0.75rem;
}

.sidepanel .size-options {
    float:right;
    padding: 0 10px;
    transition: opacity 0.25s ease-in-out;
    font-size: 1.3rem;
}
.sidepanel:not(.collapsed) .size-options {
    opacity: 0.0;
}
.collapsed .size-options {
    padding: 2px;
}
.sidepanel .size-options a {
    color: rgb(200, 0, 0);
}
.collapsed .collapseSidepanelButton {
    display: none;
}
.full .expandSidepanelButton {
    display: none;
}
.collapsed table {
    display: none;
}
.sidepanel:hover .size-options {
    opacity: 1.0;
}
.q1 {
    font-size: 1.0rem;
}
.q2 {
    font-size: 1.5rem;
}
.q3 {
    font-size: 2rem;
}



.sidepanel .nav-link {
    font-weight: 500;
    color: #333;
}

.sidepanel .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidepanel .nav-link.active {
    color: #007bff;
}

.sidepanel .nav-link:hover .feather,
.sidepanel .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.toolbar .card {
    border:0;
    background-color: rgb(41, 46, 50);
}
.toolbar {
    padding:0;
}
.toolbar-bottom {
    z-index: 10;
    box-shadow: 0 4px 4px rgb(30, 30, 30);
}

#collapseExample .card{
    padding:10px 30px 5px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.main {
    /*position:relative;*/
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
 }

#diagramBoxOuter {
    overflow: scroll;
    /*height: calc(100% - 17px);*/
    /*height: calc(100vh);*/
    margin-left: 270px;
    height: calc(100vh - 117px);
    transition: margin-left 0.5s, height 0.3s ease-in-out;
}




.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


.propertiesPanel  .editable-container {
    width: 100%;
}
.propertiesPanel  div {
    width: 100%;
}
.propertiesPanel  textarea {
    width: 100%!important;
}